body{
    font-family: Arial, sans-serif;
    background:#f4f6f8;
    margin:0;
    text-align:center;
}

header{
    background:#1E293B;
    color:white;
    padding:20px;
}

.search-box{
    margin:30px;
}

input{
    padding:12px;
    width:250px;
    border-radius:6px;
    border:1px solid #ccc;
}

button{
    padding:12px 16px;
    border:none;
    background:#22c55e;
    color:white;
    border-radius:6px;
    cursor:pointer;
}

button:hover{
    background:#16a34a;
}

#results{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
    padding:20px;
}

.card{
    background:white;
    width:220px;
    border-radius:10px;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
    overflow:hidden;
    transition:0.3s;
}

.card:hover{
    transform:scale(1.05);
}

.card img{
    width:100%;
}

.card h3{
    padding:10px;
}

.favorite-btn{
    margin:10px;
    padding:8px;
    background:#f59e0b;
}

ul{
    list-style:none;
    padding:0;
}

li{
    background:white;
    padding:10px;
    margin:10px auto;
    width:200px;
    border-radius:6px;
    box-shadow:0 2px 6px rgba(0,0,0,0.1);
}